/node_modules
/logs
/job-logs
/.settings
/test
/resources/*
!/resources/contract.json
!/resources/install.js
!/resources/update.js
!/resources/install
*.env
.audit.json
.project
.sublime-project
.tern-project
.jshintrc
build.gradle
config/db.js
config/view_settings.json
config/key.cfg
.gradle/
launch.json
.node-xmlhttprequest*
env_update.txt
